
/*home page*/
#hero {
  background-color: #0b0909;
  color: rgb(242, 239, 239);
  height: 50vh;
  width: 100%;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sec {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Style each product container */
.products {
  width: calc(33.3333% - 20px);
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 15px 0;
}

/* Style the image */
.img img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


/* Style the shopping cart icon */
.cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #d1f0d6;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-height: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  height: 60%;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
}
.pro-container{
  display: inline-block;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700px;
  color: #0d0f0f;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #d1f0d6;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

